h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
}
.tomato {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 2px solid;
    border-radius: 50%;
}
.song {
    font-family: papyrus;
    
}
h1 {
    color: gold;
    text-align: right;

}
.center {
    text-align: center;
    margin: 0px;
    
    
}
body {
    
}
