
<nav>
    <section>
        <a href="index.html">Home</a>
        <a href="trainer.html">Trainers</a>
        <a href="track.html">Track</a>
        <a href="crosscountry.html">Cross Country</a>
        <a href="race.html">Race</a>
    </section>
    <h1>Sam Hanley's Running Shoe Reviews</h1>
    <h3>Honest Running Shoe Reviews From A Passionate Runner</h3>
    <div>
        <h3>Follow Me on Social Media</h3>
        <img src="./images/facebook.png" alt="Facebook" id="facebook">
        <img src="./images/instagram.png" alt="instagram" id="instagram">
        <img src="./images/strava.png" alt="strava" id="strava">
        <img src="./images/twitter.png" alt="Twitter" id="twitter">
    </div>
    <script src="../scripts/project1.js">
        window.onload = function() {
            const facebook = document.getElementById("facebook");
            facebook.addEventListener('click', function() {
                alert("Sorry, I wasn't actually going to make a facebook page for this")
            });

            const instagram = document.getElementById("instagram");
            instagram.addEventListener('click', function() {
                alert("Sorry, I wasn't actually going to make a instagram page for this")
            });

            const strava = document.getElementById("strava");
            strava.addEventListener('click', function() {
                alert("Sorry, I wasn't actually going to make a facebook page for this")
            });

            const twitter = document.getElementById("twitter");
            twitter.addEventListener('click', function() {
                alert("Sorry, I wasn't actually going to make a twitter page for this")
            });
        }

    </script>
</nav>