
    <ul class="links">
        <li><a href="https://webpages.charlotte.edu/cwillif6/itis3135/">CLT site</a></li>
        <li><a href="https://github.com/collin-williford">github.com</a></li>
        <li><a href="https://github.com/collin-williford/collin-williford.github.io">github.io</a></li>
        <li><a href="https://collin-williford.github.io/itis3135/">Course.io</a></li>
        <li><a href="https://www.freecodecamp.org/CollinW">freecodecamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/CollinWilliford">Codeacademy</a></li>
        <li><a href="https://www.linkedin.com/in/collin-williford">LinkinIn</a></li>
    </ul>   
    <div>     
        <a href="https://validator.w3.org/check?uri=referer"><img src="images/htmlvalidationbutton.png" width="88" height="31" alt="Validate webpage HTML." /></a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="images/cssvalidationbutton.png" width="88" height="31" alt="Validate webpage CSS." /></a>
    </div>
    <p>Designed by <a href="willifordweb.pizza/index.html">Williford Web</a>, Certified in <a href="https://www.freecodecamp.org/certification/CollinW/responsive-web-design">Web Design</a> & <a href="https://www.freecodecamp.org/certification/CollinW/javascript-algorithms-and-data-structures">JS</a> &copy; 2023</p>
